* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  background-color: #0d0902;
  color: #fdf9f2;
  overflow-x: hidden;
  line-height: 1.6;
}

/* Header */
header {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  height: 10vh;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.logo img {
  max-height: 10vh;
  object-fit: contain;
  display: block;
}

header nav {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

header nav a {
  text-decoration: none;
  color: #fdf9f2;
  font-weight: 600;
  transition: color 0.3s;
}

header nav a:hover {
  color: rgb(2, 79, 86);
}

header button {
  background-color: rgb(2, 79, 86);
  color: #fdf9f2;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}

header button:hover {
  background-color: rgb(2, 36, 36);
  transform: scale(1.05);
}

button:focus {
  outline: 2px solid #fdf9f2;
  outline-offset: 2px;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 1000;
  padding: 6px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #fdf9f2;
  margin: 5px 0;
  border-radius: 2px;
  transition: 0.3s;
}

/* Hero section */
#hero {
  height: 100dvh;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  background-image: linear-gradient(
      to bottom right,
      rgba(13, 9, 2, 1) 0%,
      rgba(13, 9, 2, 0) 50%
    ),
    url("assets/ferrari_gt3_458_flipX_extended.jpg");
  background-repeat: no-repeat;
  background-size: 140%;
  background-position: 10% 10%;
}

.hero-container {
  max-width: 40%;
}

.hero-container h1 {
  font-size: clamp(2rem, 4vw, 2.5rem);
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}

.subtitle {
  font-size: clamp(0.8rem, 1vw, 1rem);
  text-transform: uppercase;
  font-weight: 400;
}

.hero-container > p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.hero-container > button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: rgba(2, 36, 36, 0.8);
  border: 1.5px solid rgb(17, 21, 22);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fdf9f2;
  cursor: pointer;
}

.hero-container button:hover {
  background-color: rgb(2, 36, 36);
}

.testimonials {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.testimonial-profile {
  display: flex;
}

.testimonial-profile img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #fff;
  margin-left: -15px;
}

.testimonial-profile img:first-child {
  margin-left: 0;
}

.five-stars {
  display: flex;
  align-items: center;
}

.five-stars svg {
  margin-left: -4px;
  box-shadow: rgba(0, 0, 0, 0.8);
}

.five-stars span {
  font-size: 0.7rem;
  font-weight: bold;
  color: #fdf9f2;
}

.testimonials p {
  font-size: 0.7em;
}

@media (max-width: 1100px) {
  #nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: var(--background);
    position: absolute;
    top: 60px;
    left: 0;
    padding: 1rem;
    z-index: 999;
  }

  #nav-links li {
    margin: 1rem 0;
    text-align: center;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: rotate(-45deg);
    transform-origin: 22px 6.5px;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
    transform: rotate(90deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: rotate(45deg);
    transform-origin: 22px -2.5px;
  }

  #nav-links.active {
    display: flex;
    box-shadow: 4px 7px 4px rgba(0, 0, 0, 0.2);
  }
}
@media (max-width: 900px) {
  #hero {
    align-items: flex-start;
    padding-top: 7rem;
    background-image: linear-gradient(
        to bottom right,
        rgba(13, 9, 2, 1) 0%,
        rgba(13, 9, 2, 0) 50%
      ),
      url("https://scontent.fper10-1.fna.fbcdn.net/v/t1.6435-9/74270606_2588542297851256_4428721214776672256_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=833d8c&_nc_ohc=o1Ul60T2PjgQ7kNvgHzQezr&_nc_zt=23&_nc_ht=scontent.fper10-1.fna&_nc_gid=ArMGFJTWqhW6He8m4iUa-Wf&oh=00_AYD4NwK388uU_SeYHNgggPBdFslcqVk-MjhRSXVXumM_IQ&oe=67AAB5B1");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0% 0%;
  }
  .hero-container {
    max-width: 100%;
  }
}
